<hr class="mt-5">
<footer class ="py-5 text-center">
  <p>SymBnB !</p>
  <p>Made by <a href="https://www.linkedin.com/in/snitpro/">Sébastien NOBOUR</a> thanks to Lior Chamla's courses available <a href="https://learn.web-develop.me/symfony-4-les-fondamentaux-par-la-pratique/lu6zp">here</a>
  </p>
</footer>