<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB - by Sébastien NOBOUR {% block title %} Welcome !{% endblock %}</title>

        <meta name="viewport" content="width= device-width, user-scalable=no">
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
    {% include "admin/partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "admin/partials/footer.html.twig" %}
       {{ encore_entry_script_tags('js/app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
