<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}<link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">{% endblock %}
    </head>
    <body>
        {# {% block header %}<h2>Header de l'app</h2>{% endblock %} #}
        
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{path('homepage')}}">Sym5BnB !</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('homepage')}}">Accueil</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a href="#" class="nav-link">Mon compte !</a></li>
                </ul>
            </div>
        </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
